<div class="container">
    <div class="row">
        <div class="col-sm" data-sly-resource="${'container1' @ resourceType='newsportal/components/container'}"></div>
        <div class="col-sm" data-sly-resource="${'container2' @ resourceType='newsportal/components/container'}"></div>
        <div class="col-sm" data-sly-resource="${'container3' @ resourceType='newsportal/components/container'}"></div>
        <div class="col-sm" data-sly-resource="${'container4' @ resourceType='newsportal/components/container'}"></div>
    </div>
</div>