<!-- Brand Start -->
<div class="brand">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4">
                <div class="b-logo">
                    <a href="${properties.logoLink @extension='html'}" target="${properties.openINewTab == 'true'?'_blank':''}">
                        <img src="${properties.logoImage}" alt="${properties.logoAltText}">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="b-ads">
                    <a href="${properties.addLink @extension='html'}">
                        <img src="${properties.addImage}" alt="${properties.addImageAltText}">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="b-search">
                    <input type="text" placeholder="Search">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand End -->
